
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml" xmlns:p="http://primefaces.org/ui">





	<ui:define name="content">
		<h:form>
			<h:head>

			</h:head>
		</h:form>


		 
<h:head>
	<title>Google Chart - JSF 2</title>
	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		// Load the Visualization API and the piechart package.
		google.charts.load('current', {'packages':['corechart']});
		/* google.load('visualization', '1.0', {
			'packages' : [ 'corechart' ]
		}); */
		// Set a callback to run when the Google Visualization API is loaded.
		google.charts.setOnLoadCallback(drawChart);
			// Callback that creates and populates a data table,
			// instantiates the pie chart, passes in the data and
			// draws it.
		function drawChart() {
			// Create the data table.
			var data = google.visualization.arrayToDataTable([
				[ 'Country', 'Area(square km)' ],
				#{PieChartBean.pieChartData}
			]);
			// Set chart options
			var options = {
				'title' : 'Area-wise Top Seven Countries in the World',
				is3D : true,
				pieSliceText : 'label',
				tooltip : {
					showColorCode : true
				},
				'width' : 900,
				'height' : 500
			};
			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	</script>
</h:head>
<h:body>
	<div style="width: 600px;">
		<div id="chart_div"></div>
	</div>
</h:body>
 

	</ui:define>
</ui:composition>
