<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
 

 
 
   
	<ui:define name="content">
	<h:form>
	<h:head>
	<h:panelGroup>
	
	  <div class="layout-content">	
       <div class="p-grid ui-fluid">
     
     <div   class="p-col-12 p-lg-6">
      <div  class="p-grid"> 
       <div class="p-col-12">
       
                      <div class="card card-w-title">
                         <h3>L'employe a evaluer</h3>
						<p:selectOneMenu  value="#{evaluationBean.employe}">
						<f:selectItem itemLabel="Choisir Employe"   />
						<f:selectItems value="#{loginBean.userNames}" />
						</p:selectOneMenu>
                  
 					</div>
                 </div>
                 <div  class="p-grid"> 
       			<div class="p-col-12">
                 <p:commandButton value="Ajouter Critére" type="button"
										onclick="PF('dlg2').show();" />
									<p:commandButton value="Afficher Liste des Critéres"
										type="button" onclick="PF('dlg3').show();" />
									<p:dialog header="Liste des critéres" widgetVar="dlg3"
										modal="true">
									 
											<p:dataTable value="#{criteriaBean.criterias}" var="criteria" id="listCr">
												<p:column>
													<h:outputText value="#{criteria.criteria}" />
												</p:column>
												<p:column>
													<p:commandButton value="Supprimer" 
														action="#{criteriaBean.deleteCriteria(criteria.id)}"
														update="listCr"
														 />
												</p:column>
											</p:dataTable>
 									</p:dialog>
									
									<p:dialog header="Ajouter CritÃ©re" widgetVar="dlg2"
										modal="true">
										 
											<p:inputText 
												value="#{criteriaBean.criteriaName}" />
											<p:commandButton value="Ajouter"
												action="#{criteriaBean.addCriteria()}" />
										 
									</p:dialog>
					</div>
					</div>
                  <div class="p-col-12">
                      <div class="card card-w-title">
                         
                  <h2>Critéres:</h2>
											<p:repeat value="#{criteriaBean.criterias}" var="criteria">
												<h:outputText value="#{criteria.criteria}:"
													style="font-weight:bold" />
												<p:selectOneRadio id="console" unselectable="true"
													value="#{criteria.note}">
													<f:selectItem itemLabel="Good" itemValue="1" />
													<f:selectItem itemLabel="Very good" itemValue="2" />
													<f:selectItem itemLabel="Highly skilled" itemValue="3" />
													 
												</p:selectOneRadio>
											</p:repeat>
 					</div>
                 </div>
               
                 <div class="p-col-12">
                      <div class="card card-w-title">
                        <h:outputText value="Type d'evaluation"></h:outputText>
						<p:selectOneMenu value="#{evaluationBean.type}"  >
						<f:selectItem itemLabel="Choisir Type d'evaluation" itemValue=""/>
						<f:selectItems value="#{data.types}" />
						</p:selectOneMenu> 
 					</div>
                 </div>
                  <div class="p-col-12">
                      <div class="card card-w-title">
                           <h1>Description</h1>
                           <h:inputTextarea value="#{evaluationBean.description}" 
                           class="ui-inputfield ui-inputtextarea ui-widget ui-state-default ui-corner-all"
                            cols="20" rows="3" placeholder="Your Message" maxlength="2147483647" 
                            role="textbox" aria-disabled="false" aria-readonly="false"
                             aria-multiline="true">
                            </h:inputTextarea>
 					</div>
                 </div>   
                  <div class="p-col-12">
          		    <div class="card card-w-title">  
          		    <h:outputText value="Ponctuality:" />                
    		        	 <p:selectOneButton value="#{evaluationBean.ponctuality}">
           				 <f:selectItem itemLabel="Very ponctual" itemValue="Very ponctual" />
            			<f:selectItem itemLabel="Usual ponctual" itemValue="Usual ponctual" />
           				 <f:selectItem itemLabel="Not ponctual" itemValue="Not ponctual" />
      				  </p:selectOneButton>
                  </div>
               </div>      
                   
                 <div class="p-col-12">
                      <div class="card card-w-title">
                       <p:growl>
  			  <p:autoUpdate />
				</p:growl>
                        <h3>Note</h3>
			<div class="knob-container  ui-corner-all">
   			 <p:knob max="10" step="1"   value="#{evaluationBean.note}"/>
			</div>
                       
 					</div>
                 </div> 
                 
                   
  <div class="p-col-12">
          		    <div class="card card-w-title">                  
    		        	 <h:outputText value="Date:" />
         	     		 <h:outputText value="#{evaluationBean.date}" for="datee">
                 		 <f:convertDateTime pattern="MM/dd/yyyy" />
           		 		 </h:outputText>
                  </div>
               </div>
          		             
       
		 <div>
		<p:commandButton value="Ajouter evaluation" action="#{evaluationBean.addEvaluation()}"     
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
        <p:confirm header="Confirmation" message="Are you sure?" icon="pi pi-exclamation-triangle" />
    </p:commandButton>
     
    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
    </p:confirmDialog> 
	 
		</div>
		 
		 
		 
 			</div>  
                 </div>
               </div> 
             </div>
 </h:panelGroup>
 </h:head>
</h:form>
 

 
               
            
	</ui:define>
</ui:composition>