<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">
 
  <style type="text/css">
    .ui-paginator a {
        margin-right: 5px;
    }
</style>
   
	<ui:define name="content">
	<h:form>
	
	 <div class="p-col-12">
                    <div class="card card-w-title">
                         <div id="form:j_idt32" class="ui-datatable ui-widget ui-datatable-reflow">
                      
                        
                                 List of Evaluations
                             
                 <p:dataTable value="#{evaluationBean.evaluations}" var="evaluation" border="1"
                          
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Exporters}"
                 paginator="true" rows="4" style="margin-bottom:20px">
                      <tbody id="form:j_idt32_data" class="ui-datatable-data ui-widget-content" tabindex="0">
                
          	  <p:column>
                <f:facet name="header">
                 <h:outputText value="description" />
                </f:facet>
           <h:outputText value="#{evaluation.description}" />
           
      		  </p:column>  
      		  
      		    <p:column>
                <f:facet name="header">
                 <h:outputText value="date" />
                </f:facet>
            <h:outputText value="#{evaluation.date}" />
      		  </p:column>  .
      		  
      		      <p:column>
                <f:facet name="header">
                 <h:outputText value="type d'evaluation" />
                </f:facet>
           <h:outputText value="#{evaluation.type}" /> 
      		  </p:column>
      		  
      		   
      		  
      		  <p:column>
                <f:facet name="header">
                 <h:outputText value="note" />
                </f:facet>
           <h:outputText value="#{evaluation.note}" /> 
      		  </p:column>
      		  
      		      <p:column>
                <f:facet name="header">
                 <h:outputText value="ponctuality" />
                </f:facet>
           	<h:outputText value="#{evaluation.ponctuality}"/> 
      		  </p:column> 
      		  
      		    <p:column>
                <f:facet name="header">
                 <h:outputText value=" " />
                </f:facet>
           	<h:commandButton value="Supprimer" action="#{evaluationBean.removeEvaluation(evaluation.id)}"
           	class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"  /> 
      		  </p:column>  
      		  <p:column>
                <f:facet name="header">
                 <h:outputText value=" " />
                </f:facet>
           	<h:commandButton action="#{evaluationBean.modifier(evaluation)}" value="Modifier" 
		    			class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"  />   
      		  </p:column>
                                   
                          </tbody>
                            </p:dataTable >
 
                 </div>
                </div>
               
           </div>
           
           
           	<h:panelGroup>
	
	  <div class="layout-content">	
       <div class="p-grid ui-fluid">
          <div class="p-col-12 p-lg-6">
                <div class="p-grid">
                    <div class="p-col-12">
                        <div class="card card-w-title">
                            <h:outputText value="Critére d'evaluation"></h:outputText>
						<p:selectOneMenu value="#{evaluationBean.criteria}"  >
						<f:selectItem itemLabel="Choisir Type d'evaluation" itemValue=""/>
						<f:selectItems value="#{datacriteria.criterias}" />
						</p:selectOneMenu> 
                        </div>
                    </div>
                 <div class="p-col-12">
                      <div class="card card-w-title">
                           <h1>Description</h1>
                           <h:inputTextarea value="#{evaluationBean.description}"  
                           class="ui-inputfield ui-inputtextarea ui-widget ui-state-default ui-corner-all"
                            cols="20" rows="3" placeholder="Your Message" maxlength="2147483647" 
                            role="textbox" aria-disabled="false" aria-readonly="false"
                             aria-multiline="true">
                            </h:inputTextarea>
 					</div>
                 </div>
                    <div class="p-col-12">
                        <div class="card card-w-title">
                         <h3>Note </h3>
                       <p:inputText id="decimal" value="#{evaluationBean.note}" />
       				 <p:slider for="decimal" minValue="0" maxValue="10" step="0.5" />
                         </div>
                    </div>
                  
                </div>
            </div>
     <div   class="p-col-12 p-lg-6">
     
      <div  class="p-grid"> 
                  
               
                 <div class="p-col-12">
                      <div class="card card-w-title">
                        <h:outputText value="Type d'evaluation"></h:outputText>
						<p:selectOneMenu value="#{evaluationBean.type}"  >
						<f:selectItem itemLabel="Choisir Type d'evaluation" itemValue=""/>
						<f:selectItems value="#{data.types}" />
						</p:selectOneMenu> 
 					</div>
                 </div>
                    
                  <div class="p-col-12">
          		    <div class="card card-w-title">  
          		    <h:outputText value="Ponctuality:" />                
    		        	 <p:selectOneButton value="#{evaluationBean.ponctuality}">
           				 <f:selectItem itemLabel="Very ponctual" itemValue="Very ponctual" />
            			<f:selectItem itemLabel="Usual ponctual" itemValue="Usual ponctual" />
           				 <f:selectItem itemLabel="Not ponctual" itemValue="Not ponctual" />
      				  </p:selectOneButton>
                  </div>
               </div>      
                   
  <div class="p-col-12">
          		    <div class="card card-w-title">                  
    		        	 <h:outputText value="Date:" />
         	     		 <h:outputText value="#{evaluationBean.date}" for="datee">
                 		 <f:convertDateTime pattern="MM/dd/yyyy" />
           		 		 </h:outputText>
                  </div>
               </div>
               <div class="p-col-12">
          		    <div class="card card-w-title">                  
    		        	  <h:commandButton action="#{evaluationBean.mettreAjourEvaluation()}" value="Mettre a jour evaluation"
			 
			 class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" />
                  </div>
               </div>
          		             
      
		 
		 
 			</div>  
                 </div>
               </div> 
             </div>
 </h:panelGroup>
           
           
           
           
           </h:form>
           
	</ui:define>
</ui:composition>